body {
  background-color: $bg-color-primary;
  font-family: $text-font;
  color: $text-font;
  font-size: $text-size;
  font-weight: 400;
  position: relative;
  margin: 0;
  @include mobile-size {
    font-size: $mobile-text-size;
  }
}

.main {
  padding: 0 100px;
  @include mobile-size {
    padding: 0 10%;
  }
}
