body {
  background-color: $bg-color-primary;
  font-family: $text-font;
  color: $text-font;
  font-size: $text-size;
  font-weight: 400;
  position: relative;
  margin: 0;
}

.main {
  padding: 0 100px;
}
