$color-primary: #e34234;
$color-secondary: #2978a0;
$text-color: #070707;
$bg-color-primary: #e0e2db;
$bg-color-secondary: #d2d4c8;

$main-title-font: "Lobster", cursive;
$section-title-font: "Asap", sans-serif;
$text-font: "Merriweather Sans", sans-serif;

$main-title-size: 72px;
$section-title-size: 40px;
$text-size: 24px;

$mobile-main-title-size: 48px;
$mobile-section-title-size: 24px;
$mobile-text-size: 16px;
