.footer {
  margin-top: 100px;
  padding: 5px 100px;
  text-align: center;
  background-color: $bg-color-secondary;

  @include mobile-size {
    padding: 5px 10%;
  }
  &__header {
    font-family: $main-title-font;
    font-size: 24px;
    margin: 5px 0;
  }
  &__nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 16px;
    padding: 0 20%;
    &__item {
      text-decoration: none;
      color: $color-secondary;
    }
  }
  &__copyright {
    font-size: 13px;
  }
}
