.header {
  padding: $main-padding;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;

  @include mobile-size {
    padding: 0 5%;
  }

  // &__cta {
  //   height: 100%;
  // }

  &__main {
    &__subtitle {
      margin: 0;
      font-size: $text-size;
      font-weight: 500;
      .red {
        color: $color-primary;
      }

      @include mobile-size {
        font-size: $mobile-text-size;
      }
    }

    &__title {
      font-family: $main-title-font;
      font-size: $main-title-size;
      margin: 10px 0;

      @include mobile-size {
        font-size: $mobile-main-title-size;
      }
    }
  }

  &__sns {
    display: flex;
    justify-content: center;
    column-gap: 7%;
    // padding: 0 30%;
    margin-top: 40px;

    // @include mobile-size {
    //   padding: 0 5%;
    // }

    .sns-logo-wrapper {
      width: 35px;
      height: 35px;
      position: relative;

      &:hover {
        transform: scale(1.3);
        transition: transform 300ms;
      }

      .logo {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        fill: $color-secondary;
      }
    }
  }
}

.header {
  // margin-bottom: 500px;
  &__title {
    // position: fixed;
    font-family: $main-title-font;
    font-size: $main-title-size;
    color: $color-secondary;

    @include mobile-size {
      font-size: $mobile-main-title-size;
    }
  }
}
