.section {
  width: 80%;
  &__header {
    font-family: $section-title-font;
    font-size: $section-title-size;

    @include mobile-size {
      font-size: $mobile-section-title-size;
    }
  }
}

//Section on about me page
.section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10%;
  margin-bottom: 100px;
  &--reverse {
    flex-direction: row-reverse;
  }

  @include mobile-size {
    flex-direction: column-reverse;
    text-align: center;
  }
  &__header {
    font-size: $section-title-size;
    color: $color-primary;

    @include mobile-size {
      font-size: $mobile-section-title-size;
    }
  }
  .container {
    width: 60%;
    @include mobile-size {
      width: 100%;
    }
  }
  //   .container-image {
  //     width: 30%;
  //   }
  .image-wrapper {
    position: relative;
    // border-radius: 100%;
    overflow: hidden;
    height: 300px;
    width: 300px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &--home {
    width: 80%;
    display: block;
    &__header {
      font-family: $section-title-font;
      font-size: $section-title-size;

      @include mobile-size {
        font-size: $mobile-section-title-size;
      }
    }

    @include mobile-size {
      width: 100%;
    }
  }
}

.section--about {
  // margin-bottom: 350px;
  margin-top: 350px;
  .container {
    transform: translateY(-500px);
    opacity: 0;
  }
  .image-wrapper {
    transform: translateY(500px);
    opacity: 0;
  }
}
