body {
  background-color: #e0e2db;
  font-family: "Merriweather Sans", sans-serif;
  color: "Merriweather Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  margin: 0;
}
@media screen and (max-width: 400px) {
  body {
    font-size: 16px;
  }
}

.main {
  padding: 0 7%;
}
@media screen and (max-width: 400px) {
  .main {
    padding: 0 10%;
  }
}

.nav {
  padding: 0 7%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  column-gap: 30px;
}
@media screen and (max-width: 400px) {
  .nav {
    justify-content: center;
  }
}
.nav .menu-wrapper {
  position: relative;
  border: none;
  border-left: 1px #070707 solid;
  padding: 0;
  padding-left: 30px;
  background-color: transparent;
}
.nav .menu-wrapper__text {
  font-size: 24px;
  font-family: "Asap", sans-serif;
}
.nav .menu-wrapper:hover {
  cursor: pointer;
}
.nav .logo-wrapper {
  width: 70px;
  height: 70px;
  position: relative;
}
.nav .logo-wrapper .logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.nav__menu-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  transform: scaleX(1) scaleY(1);
  transform-origin: top right;
  transition: transform 300ms;
}
.nav__menu-container .logo-wrapper {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.nav__menu-container .logo-wrapper .logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  fill: #070707;
}
.nav__menu-container .logo-wrapper .logo:hover {
  cursor: pointer;
  fill: #e34234;
}

.nav__menu {
  padding: 10% 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
}
.nav__menu__item {
  font-size: 48px;
  color: #070707;
  text-decoration: none;
}
.nav__menu__item:hover {
  color: #e34234;
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  .nav__menu {
    padding: 20% 10%;
  }
  .nav__menu__item {
    font-size: 48px;
  }
}

.button {
  padding: 11px 46px;
  margin-top: 30px;
  background-color: #e34234;
  color: #e0e2db;
  font-size: 24px;
  font-weight: 700;
  border-radius: 15px;
  border: solid 2px #e34234;
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  .button {
    font-size: 16px;
  }
}
.button:hover {
  color: #e34234;
  background-color: #e0e2db;
  cursor: pointer;
  transition: all 300ms;
}

.footer {
  margin-top: 100px;
  padding: 5px 100px;
  text-align: center;
  background-color: #d2d4c8;
}
@media screen and (max-width: 400px) {
  .footer {
    padding: 5px 10%;
  }
}
.footer__header {
  font-family: "Lobster", cursive;
  font-size: 24px;
  margin: 5px 0;
}
.footer__nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-size: 16px;
  padding: 0 20%;
}
.footer__nav__item {
  text-decoration: none;
  color: #2978a0;
}
.footer__copyright {
  font-size: 13px;
}

.header {
  padding: 0 7%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
@media screen and (max-width: 400px) {
  .header {
    padding: 0 5%;
  }
}
.header__main__subtitle {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}
.header__main__subtitle .red {
  color: #e34234;
}
@media screen and (max-width: 400px) {
  .header__main__subtitle {
    font-size: 16px;
  }
}
.header__main__title {
  font-family: "Lobster", cursive;
  font-size: 72px;
  margin: 10px 0;
}
@media screen and (max-width: 400px) {
  .header__main__title {
    font-size: 48px;
  }
}
.header__sns {
  display: flex;
  justify-content: space-around;
  padding: 0 30%;
  margin-top: 40px;
}
@media screen and (max-width: 400px) {
  .header__sns {
    padding: 0 5%;
  }
}
.header__sns .sns-logo-wrapper {
  width: 35px;
  height: 35px;
  position: relative;
}
.header__sns .sns-logo-wrapper:hover {
  transform: scale(1.3);
  transition: transform 300ms;
}
.header__sns .sns-logo-wrapper .logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  fill: #2978a0;
}

.header__title {
  font-family: "Lobster", cursive;
  font-size: 72px;
  color: #2978a0;
}
@media screen and (max-width: 400px) {
  .header__title {
    font-size: 48px;
  }
}

.section {
  width: 80%;
}
.section__header {
  font-family: "Asap", sans-serif;
  font-size: 40px;
}
@media screen and (max-width: 400px) {
  .section__header {
    font-size: 24px;
  }
}

.section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10%;
  margin-bottom: 100px;
}
.section--reverse {
  flex-direction: row-reverse;
}
@media screen and (max-width: 400px) {
  .section {
    flex-direction: column-reverse;
    text-align: center;
  }
}
.section__header {
  font-size: 40px;
  color: #e34234;
}
@media screen and (max-width: 400px) {
  .section__header {
    font-size: 24px;
  }
}
.section .container {
  width: 60%;
}
@media screen and (max-width: 400px) {
  .section .container {
    width: 100%;
  }
}
.section .image-wrapper {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 300px;
}
.section .image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section .image-wrapper .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section--home {
  width: 80%;
  display: block;
}
.section--home__header {
  font-family: "Asap", sans-serif;
  font-size: 40px;
}
@media screen and (max-width: 400px) {
  .section--home__header {
    font-size: 24px;
  }
}
@media screen and (max-width: 400px) {
  .section--home {
    width: 100%;
  }
}

.section--about {
  margin-top: 350px;
}
.section--about .container {
  transform: translateY(-500px);
  opacity: 0;
}
.section--about .image-wrapper {
  transform: translateY(500px);
  opacity: 0;
}

.hidden {
  transform: scaleX(0) scaleY(0);
}

.container {
  position: relative;
  padding: 0 7%;
}
@media screen and (max-width: 400px) {
  .container {
    padding: 0 7%;
    width: 86%;
  }
}

.carousel {
  display: flex;
  position: relative;
  padding: 0 7%;
  width: 86%;
  height: fit-content;
  overflow-x: scroll;
  overflow-y: hidden;
  column-gap: 7%;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
@media screen and (max-width: 400px) {
  .carousel {
    padding: 0;
    width: 100%;
  }
}
.carousel__item {
  position: relative;
  scroll-snap-align: center;
}
@media screen and (max-width: 400px) {
  .carousel__item {
    width: 100%;
  }
}
.carousel__item__header {
  position: absolute;
  top: 300px;
  left: -50px;
  transform: translateY(-50%);
  z-index: 10;
  text-shadow: 16px 16px 30px #070707;
}
@media screen and (max-width: 400px) {
  .carousel__item__header {
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.carousel__item__header__title {
  font-size: 40px;
  font-family: "Asap", sans-serif;
  color: #e34234;
  font-size: 72px;
  text-transform: uppercase;
  opacity: 0;
  bottom: 100px;
}
@media screen and (max-width: 400px) {
  .carousel__item__header__title {
    font-size: 48px;
  }
}
.carousel__item__image {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  height: 600px;
  width: 70vw;
  transform: scale(1);
  box-shadow: 16px 16px 20px #d2d4c8;
}
@media screen and (max-width: 400px) {
  .carousel__item__image {
    width: 80vw;
  }
}
.carousel__item__image img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.carousel__item__information__header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
}
@media screen and (max-width: 400px) {
  .carousel__item__information__header {
    margin: 0 16px;
  }
}
.carousel__item__information__links {
  margin: 16px 0;
  display: flex;
  justify-content: flex-start;
  column-gap: 50px;
  align-items: center;
  padding: 0 40px;
}
@media screen and (max-width: 400px) {
  .carousel__item__information__links {
    padding: 0;
    width: 100%;
    justify-content: space-around;
  }
}
.carousel__item__information__links .logo-wrapper {
  width: 35px;
  height: 35px;
  position: relative;
}
.carousel__item__information__links .logo-wrapper .logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  fill: #2978a0;
}
.carousel__item__information__links .logo-wrapper .logo.inactive {
  fill: #d2d4c8;
}
.carousel__item__information__techno {
  margin: 16px 0;
  display: flex;
  justify-content: flex-start;
  column-gap: 18px;
  padding: 0 40px;
}
@media screen and (max-width: 400px) {
  .carousel__item__information__techno {
    padding: 0;
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 16px;
  }
}
.carousel__item__information__techno .techno-tag {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 16px;
  background-color: #e34234;
  color: #e0e2db;
}
@media screen and (max-width: 400px) {
  .carousel__item__information__techno .techno-tag {
    font-size: 13px;
  }
}
.carousel__item__information__description {
  padding: 0 30px;
}
@media screen and (max-width: 400px) {
  .carousel__item__information__description {
    padding: 0;
    text-align: center;
  }
}

.wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.wrapper .container {
  width: calc(50% - 50px);
  border-left: 1px solid #070707;
  padding-left: 50px;
}
.wrapper .container--empty {
  width: 40%;
  height: 100px;
  border-left: none;
}

.cbutton {
  content: " ";
  position: absolute;
  top: 300px;
  height: 70px;
  width: 70px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
}
.cbutton--r {
  right: 40px;
}
.cbutton--l {
  left: 40px;
}
.cbutton .chevron {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  fill: #2978a0;
  opacity: 0.5;
  transition: opacity 300ms;
}
.cbutton .chevron:hover {
  opacity: 1;
  transition: opacity 300ms;
}

.cbutton--hidden {
  display: none;
}

/*# sourceMappingURL=App.css.map */
